@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-sans: 'Poppins', 'Open Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  }
  html { font-family: var(--font-sans); }
  body { @apply antialiased; }
}

.pattern-divider {
  background-image: radial-gradient(rgba(234,179,8,.25) 1px, transparent 1px);
  background-size: 12px 12px;
}
